// COLORS
$white: #ffffff;
$almost-white-on-black: #aaaaaa;
$almost-white-on-green: #a9b3ab;

$green: #536758;
$black: #2b2b2b;

$very-light-gray: #d8d8d8;
$light-gray: #939393;
$gray: #7d7d7d;
$green-gray: #a9b3ab;

$header-footer-color: #f9f9f9;
$black-footer-button-color: #4a4a4a;

$narrow-w-padding: 4vw;
$wide-w-padding: 10vw;

$one-column-gap: 7vw;
$gap: 2vmax;

$text-size: calc(8px + 1vmin);

$button-height: 3.125em; //~50px
$header-height: 12vh;
$footer-height: 15vh;

$slider-track-height: 5px;
